.Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #009788;
  color: white;
  margin: 0;
  height: 70px;
  padding: 0 20px;
}

.Head h2 {
  margin: 0;
}

.App {
  display: flex;
  height: calc(100vh - 70px);
}

.container {
  width: 80%;
  padding: 20px;
  max-height: 100%;
  overflow: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.sidebar {
  max-height: 100%;
  width: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #e6e6fa;
}

.sidebar-options {
  max-height: calc(100vh - 150px);
  padding: 20px;
}

.sidebar-options > h3 {
  color: #4a154b;
  margin: 0;
  padding: 0;
}

.sidebar-options > .option {
  margin-top: 10px;
}

.sidebar-buttons {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Beautify {
  margin: 0;
  background-color: var(--purple);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.Reset {
  margin: 0;
  background-color: var(--purple);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.ControlsBox {
  display: flex;
  align-items: center;
}

.control {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.control > h4 {
  margin: 5px;
  color: #4a154b;
}

.PanelsBox {
  display: flex;
  align-items: center;
}

.text-area {
  width: 50%;
  padding: 0 20px;
}

.exampleInput {
  color: rgb(181, 0, 30);
}

.exampleOutput {
  width: 550px;
  background-color: rgb(255, 255, 255);
}
