@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
}

:root {
  --green: #76de77;
  --light-green: #9fed9f;
  --bg-primary: #eaffe5;
  --light-purple: #b19cda;
  --purple: #9c27b0;
}
